{% extends 'base.html' %}
{% block content %}

<h1>Meeting List</h1>

{% for meeting in object_list %}
  <a href="{% url 'meetings_detail' meeting.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ meeting.name }}</span>
            <p>Game: {{ meeting.game.name }}</p>
            <p>Date: {{ meeting.date }}</p>
            <p>Location: {{ meeting.location }}</p>
            <p>Organizer: {{ meeting.organizer }}</p>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}