{% extends 'base.html' %}
{% block content %}

<h1>{{ meeting.name }}</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Meeting Details</span>
            <p>Game: {{ meeting.game }}</p>
            <p>Meeting Date: {{ meeting.date }}</p>
            <p>Location: {{ meeting.location }}</p>
            <p>Organizer: {{ meeting.organizer }}</p>
            <p>Minimum Players: {{ meeting.min_ppl }}</p>
            <p>Maximum Players: {{ meeting.max_ppl }}</p>
            <p>Players Attending:
              {{ meeting.players }} <!-- Fix this! -->
            </p>
      </div>
      {% if meeting.organizer == user %}
        <div class="card-action">  
            <a href="{% url 'meeting_update' meeting.id %}">Edit</a>
            <a href="{% url 'meeting_delete' meeting.id %}">Delete</a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Game Details</span>
        <p>Average Game Play Time: {{meeting.game.avg_game_play}}</p>
        <p>Difficulty Rating: {{meeting.game.difficulty_rating}}</p>
        <p>Genre: {{meeting.game.genre}}</p>
        <p>Minimum Age: {{meeting.game.min_age}}</p>
        <p>Description: {{meeting.game.description}}</p>
      </div>
    </div>
  </div>  
</div>
<div class="row">
      <!-- Need to add if statement to only show this button if user isn't already included in meeting.players -->
  <form action="{% url 'join_meeting' meeting.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Join Meeting" class="btn">
  </form>
</div>
{% endblock %}