{% extends 'base.html' %}
{% block content %}

<div class="about">
    <h1>About Board Meeting</h1>
    <hr>
    <p id="about-p">
        Welcome to Board Meeting, an application to catalog ALL your board games and organize board game meetups. You can add each game you have and record all of its information. You can also find or form meetups for games you want to play with other people in your area! Time to meet some new friends and play some games! 
    </p>
    <h3>About Us</h3>
    <hr>
    <p id="about-p">
        We built this application as a group project for the Software Engineering Immersive at General Assembly. Our team consists of <a href="https://github.com/masomaster">Mason Lancaster</a>, <a href="https://github.com/Jessicanguyenn81">Jessica Nguyen</a>, and <a href="https://github.com/nukaterrapin7">Scott Rubalacaba</a>. Thanks for taking the time to check out our application!
    </p>
</div>
    
{% endblock %}