{% extends 'base.html' %}
{% block content %}

<div class="about">
    <h1>About the Board Meeting</h1>
    <hr>
    <p>Welcome to Board Meeting!  This is an application to help you keep a catalog of ALL your board games. You can add each game you have, and record all of its information.  You can also find or form meetups for games you want to play with other people in your area!  Time to meet some new friends and play some games! 
    </p>
    <h3>About Us</h3>
    <hr>
    <p>
        We are Team Null, and we built this application as a group project for the Software Engineering Immersive at General Assembly.  Our team consists of Mason Lancaster, Jessica Nguyen, and Scott Rubalacaba.  Thanks for taking the time to check out our application!
    </p>
</div>
    
{% endblock %}