{% extends 'base.html' %}
{% block content %}

<h1>{{ game.name }}</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ game.name }}</span>
        <p>Genre: {{ game.genre }}</p>
        <p>Number of Players: {{ game.min_player }}-{{ game.max_player }}</p>
        <p>Minimum Age: {{ game.min_age }}</p>
        <p>Difficulty Rating: {{ game.difficulty_rating }}</p>
        <p>Average Game Play: {{ game.avg_game_play }} minutes</p>
        <p>Description: {{ game.description }}</p>
        {% if user == game.user %} <!-- Right now users can only ever see their own games, so this is irrelevant; do we want to change this feature? -->
            <p>Private notes: {{ game.notes }}</p>
        {% endif %}
    </div>
    <div class="card-action">
        <a href="{% url 'games_update' game.id %}">Edit</a>
        <a href="{% url 'games_delete' game.id %}">Delete</a>
    </div>
</div> 

{% for photo in cat.photo_set.all %}
<img class="responsive-img card-panel" src="{{photo.url}}">
{% empty %}
<div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}
<form action="{% url 'add_photo' game.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>

<h3>Creating a Meeting for {{ game.name }}</h3>
<div class="card">
    <div class="card-content">
        <form action="{% url 'create_meeting' game.id %}" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Create Meeting" class="btn">
        </form>
    </div>
</div>
<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
  </script>

{% endblock %}